
h1{
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
    font-size: 200px;
    text-align: center;
    background-color: rgba(59, 58, 58, 0.86);
    

    
}

.focus {
    text-align: center;
    font-size: 30px;

}

#greeting{
    font-size: 25px;
}


.buttons{
    text-align: center;
    border-color: black;
    display: block;
   


}

.colorInfo{
    display: block;
    background-color:rgba(190, 182, 182, 0.788);
    width: 500px;
    height: 200px;
    margin: 100px;
    text-align: left;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color:rgba(14, 12, 12, 0.86)
}

#colorInfoLabel{
    margin-left:100px
}

#name{
    margin-left:100px;


}

#hexidecimal{
    margin-left:100px;
}

#functional{
    margin-left:100px;
}
